.bungee-tint-regular {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
  .new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
  .baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
  }
body {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}
.nav{
    color: white;
}
footer {
    background-color: gray;
    position: sticky;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.footer{
    color: rgb(255, 255, 255);
}
.splash{
    box-shadow: 10px 0px 50px 20px #000000;
    background-color: rgb(38, 36, 36);
    color: white;
    height: auto;
}
.splash h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: blue;
}
.splash .image{
    text-align: center;
    border-radius: 20%;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.splash p{
    color: white;
    text-align: center;
}
.splash p{
    font-size:xx-large;
}
hr{
    margin: 50px;
    border: 3px dashed red;
}
section h2{
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(139, 0, 0);
    text-decoration: underline;
    font-size: 40px;
}
.education_box{
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    border-color: black;
    border: 2px solid black;
    font-size: 25px;
}
dl{
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid black;
    gap: 10px;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
}
dl dt{
    text-align: center;
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}
dl dd{
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}
ul{
    list-style-type:square;
}
.skills{
    text-align: center;
}
.skills .skill_box{
    display: inline-block;
    text-align: left;
    list-style-position: inside;
    font-size: 25px;
}
ul li{
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}
a{
    color: red;
    text-decoration: none;
    border-radius: 10px;
}
a:hover{
    color: white;
    background-color: gray;
}
.three-col{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.three-col h3{
    text-align: center;
}
.card_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.card{
    border: 3px solid black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px white;
    background-color: #787878;
    color: black;
    font-size: large;
}
.card:hover{
    background-color: white;
    color: red;
}
.contact_section{

    text-align: center;
}
body form{
    display: flex;
    justify-content: center;
}
.one-col{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #787878;
    box-shadow: 10px 0px 50px 20px #000000;
}
.one-col input[type="text"],.one-col input[type="email"]{
    width: 200px; 
    height: 20px; 
    border-radius: 5px;
}
.one-col textarea{
    height: 150px; 
    width: 300px;
    border-radius: 5px;
}
.one-col input[type="submit"]{
    width: 100px;
    border-radius: 10px;
}
